
body {
	background-color:#000;
	color:#fff;}
h1{ 
	text-align: center;
/*Adding shadow effects*/
text-shadow:0.15vw 0.15vw #777; 
}
h3{
	color:red;
}
#ins{
	color:white;

}
span{
	color:yellow;
}
#totype{
padding:1.5vw;
 position: relative;
	width:55vw;
	height:10vw;
	background: #fff;
	color:black;
	margin: auto;
    border:0.5vw solid blue;
}

#speed{
	display:none;
	font-weight: 0.5vw;
	font-size:3vw;
	color:green;
}